@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}


body {
  font-family: var(--font-noto-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
}